{% extends "base.html" %}
{% block title %}Sign Up Page{% endblock %}
{% block h1_header %}Sign Up Page{% endblock %}
{% block content %}
           <!-- Page Content-->
                <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Project Path</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">IDE Used</h2>
                                            <p>For this project, I used WebStorm as the IDE for JavaScript development, providing powerful tools for efficient coding and debugging. For Python and Flask, I utilized PyCharm, which offered robust features for backend development, including code assistance, debugging, and project management.</p>
                                        </div>
                                         <img src="{{ url_for('static', filename='images/jetbrains-logo.png') }}" alt="Jetbrains Logo" width="300px">
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Project Plan</h2>
                                            <p>To organize the project effectively, I utilized Jira and Confluence. Jira was used to manage and track tasks, enhancing visibility and accountability, while Confluence served as a collaborative space for planning and documentation. Together, these tools streamlined task execution and ensured a well-structured project plan.</p>
                                        </div>
                                         <img src="{{ url_for('static', filename='images/jira.png') }}" alt="Jira Board">
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Version Control</h2>
                                            <p>For version control, I used GitHub, creating a new branch for each task from Jira. This approach ensured organized development, allowing precise control over how the project was built and facilitating effective collaboration and code management.</p>
                                        </div>
                                        <img src="{{ url_for('static', filename='images/git-hub.png') }}" alt="Github">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}